.btn {
  border: 2px solid red;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 5px;
  transition-duration: 500ms;
  position: relative;
  overflow: hidden;
}

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(90deg);
  /* transform: translateY(-38px); */
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease;
  z-index: -1;
}

.btn:hover {
  color: white;
}

.btn:hover::after {
  transform: rotate(0);
  /* transform: translate(0); */
}
