.main {
  /* border: 3px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* position: relative; */
  /* cursor: pointer; */
}

.box-1 {
  position: absolute;
  background-color: black;
  height: 150px;
  width: 150px;
  transition-duration: 1000ms;
  transition-timing-function: ease;
  transform-origin: top left;
}

.contianer-2 {
  position: relative;
  overflow: hidden;
}

.box-1:hover {
  transform: rotate(180deg);
}
